<html> 
{%extends "base.html"%}
{%block body%}
	<head>
		<link rel="stylesheet"
			type="text/css" href="
			main.css">
			
				
 
  </head>
 <title>
  
			</title>
			
	

	 <body background="../static/wrde.jpg">	



<center><p> <font size="16"> My hobbies</font> </p><center/>
	----------------------------------------------------------------
<h1>         





	  <div class="ola"> 
	  	<div style="width:49%;float:right"><font size="5"> Paintball is my favorite game .. Ever since I first played paintball I've loved the adrenaline and adventure it provides. I love working with my team to devise and implement a strategy that leads to victory. In paintball, you quickly learn that success comes by working together and that the best strategy in the world will fail if everyone isn't on the same page. Few things are as rewarding as when you get out on the field and see a plan come together in a fun way as we learned in "design thinking" . </div>


		<div style="width:49%;float:left;padding-left:20px">

			<img src ="../static/paintball.jpg" width = 300 height = 250 </div>



	<div style="width:100%;float:left;padding-left:20px">
		<br><br><br><img src ="../static/karting.png" width = 250 height = 350> </div> 

		<div class="xxx">
		   Karting is a game which is full of competitions, challenges, fast racing & crashing that's why i love it,, </div>


	

		 

	</h1>
	{%endblock%}
