{% extends "base.html" %}
{% block body %}


<body>



<p id="demo"></p>
 <body background="../static/wrde.jpg">
</body>
 
	
	<form type 
	name="Nour">
	<input
	type="text"
	name="text">

</form>
	<input
	<input type="submit" 
	value="Submit"/>
		
		<h1>

		


		
		<p> you can contact me using those applications :  </p> 

	

		
		 <a href="https://www.instagram.com"><img src ="../static/instagram.png" width = 150 height = 150</a> 
		  <a href="https://www.facebook.com"><img src ="../static/facebook.png" width = 150 height = 150</a> 
<a href="https://www.slack.com"><img src ="../static/Slack.png" width = 150 height = 150</a> 
	<a href="https://www.gmail.com"><img src ="../static/gmail.png" width = 150 height = 150</a> 
	
	</h1>
{% endblock %}