 
{%extends "base.html"%}
{%block title%} 
	
			<title>
				Home
			</title>
{%endblock%}			


	
	
		
		
{%block body%}
<body background="../static/wrde.jpg">	

<center><p class="img"> <img src ="../static/welcome.png" width = 500 height = 200></p> </center>

	 <h1> <p class="noor">  Hey! I'm Nour Malaki , 16 years old from Ramallah , I study at Al-Biereh Secondary School..
	    Here you find everything you need to know about me ^_^  </p>  </h1>
<center>
	   

	     				 <img src ="../static/nurr.jpg" width = 450 height = 350></center>
	     				

 {% endblock %}


	

