
<html> 
  <head>
      <title>
        

  
      </title>
      <link rel="stylesheet"
      type="text/css" href="
      main.css">
  </head>
<!DOCTYPE html>
<html>
<head>
<style>
#myDIV {
    width: 100%;
    padding: 50px 0;
    text-align: center;
    background-color: none;
    margin-top:20px;
}
</style>
</head>
 <a href="home.html"class="test" >Home</a>
<a href="about me.html" class="test">About</a>
<a href="contact.html" class="test">Contact</a>
<a href="mario.html" class="test">My Projects</a>

<br><br><br><center><h1> Those are my projects
      [click to see the code] </h1> </center>

   <body background="wrde.jpg"> 

<body>



 

<div id="myDIV">
<div class="perfect">
<img src ="mario.png" width = 200 height = 200 onclick="noor()"></div>
<div id="myDIV2">
<div class="good">
<img src ="side chain.png" width = 200 height = 200 onclick="www()">
</div>
    
<div id="www">
  <div class="run">
  <h1>= 700: clear_screen else: palgame.draw_rect(rec1_x, rec1_y , 120 , 120 , GREEN) if (rec1_y>=525): if palgame.Pressed == "right": clear_screen if palgame.Pressed == "left": {if you moved any box to the wrong direction you will lose} right_ticker = 15 rec1_x=1200 if rec1_x == 440 and rec1_y >= 700: clear_screen elif i == 1: if(random1 == 0): palgame.draw_rect(rec2_x, rec2_y , 120 , 120 , BLUE) if (rec2_y>=525): if palgame.Pressed == "right": right_ticker = 15 rec2_x=1200 if palgame.Pressed == "left": right_ticker = 15 clear_screen if rec1_x == 440 and rec1_y >= 700: clear_screen if rec1_x == 440 and rec1_y >= 700: clear_screen else: palgame.draw_rect(rec2_x, rec2_y , 120 , 120 , GREEN) if (rec2_y>=525): if palgame.Pressed == "right": clear_screen  </div> </h1>
<script>

function www() {
    var x = document.getElementById('www');
    if (x.style.display === 'block') {
        x.style.display = 'none';
    } else {
        x.style.display = 'block';
    }
}
</script>



 <div id="noor">
 
 <div class="go"> 
<h1 

dragon_lives = 5                 {the dragon's lives}
mixer.init()                     {add music}
first_time = True

game_started = False

while loop == 1:
  palgame.clear_screen()
    
  y5 = y_start
  
  for row in range(n5):
    y5 = y5 + 10
    x5 = 10 
    color = colors[row]
    for j in range(82):         { make 82 brackets for each row}
      x5 = x5 + 13
      
      palgame.draw_rect(x5, y5, Width5, Height5,color)

  if pygame.key.get_pressed()[pygame.K_SPACE] == True:   {when you press space the game starts}

  if pygame.key.get_pressed()[pygame.K_LEFT] == True:            {control the movement}
    if game_started:
      x7 = x7 - 8
        
  if (x7 <= x8 + Width8 and x7 >= x8 and y7+ Height7 - 20 >= y8 and movement7 > 0):  {if the ball hit mario he will lose one life}
    dragon_lives = dragon_lives -1
    movement7 = -16 


  time_counter = time_counter + palgame.get_event()
  if time_counter > 1000:                                   {fire the balls at mario}

    y_movement=y_movement/smaller
    #normalize the speed
    new_ball=[ball_x_start , ball_y_start , x_movement , y_movement ] 
    if game_started:
      fire_balls.append(new_ball)       { when the game starts again the dragon will start firing the balls}
      
  if (dragon_lives==0):
    palgame.draw_text(100,200,"You Won" , GREEN)    {if the dragons's lives are 0 mario wins}
    
 

   
   

  </h1>
 </div>
 

<script>
function noor() {
    var x = document.getElementById('noor');
    if (x.style.display === 'none') {
        x.style.display = 'block';
    } else {
        x.style.display = 'none';
    }
}

function noor2() {
    var x = document.getElementById('noor');
    if (x.style.display === 'block') {
        x.style.display = 'none';
    } else {
        x.style.display = 'block';
    }
}
</script>





 